---
import { Header } from "~/component/ui/Header";
import "~/style/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Wataru Ono",
  description = "Wataru Ono's portfolio page",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/watagit/portfolio/image/og.png"
    />
    <title>{title}</title>
  </head>
  <body>
    <Header client:load />
    <main class="mx-auto w-11/12 sm:w-2/3">
      <slot />
    </main>
  </body>
</html>
